body {
     background: #3c0c03;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 30px;
  /* background-image: url('download\ \(6\).jpg');
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat; */
}

.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color:  #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}


.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
  color: #fff;
  position: relative;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 25px rgba(0,0,0,0.3);
}

.card-img {
  flex: 1;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.card:hover .card-img {
  transform: scale(1.1);
}

.card-title {
  background: rgba(0,0,0,0.6);
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}


@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}