@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b0000; /* الخلفية الغامقة */
}

.container {
    background: #1f0000;
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 15px;
    border: 1px solid rgba(255,215,0,0.3);
      box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    width: 350px;
    color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    color: #ffd900de;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    color: #fff;
    transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -20px;
    font-size: 12px;
    color: #ccc; /* اللون الفاتح عند التركيز */
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #ffc942;/* رمادي */
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.849);
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgb(0, 0, 0);
}

.redirect {
    margin-top: 20px;
    text-align: center;
}

.redirect a {
    color: #ccc;
    text-decoration: none;
    font-weight: 600;
}

/* زرار Open as Admin */
.admin-btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 25px;
    background: #ffc942; /* اللون الأساسي رمادي */
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.admin-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgb(0, 0, 0);
}