/* GENERAL */
body {
margin: 0;
font-family: "Poppins", sans-serif;
background: #4b0000; /* Dark red background */
color: white;
}


.section-title {
text-align: center;
font-size: 32px;
margin-top: 60px;
color: #ff4c4c;
}


/* NAVBAR */
.navbar {
background: #330000;
padding: 15px 40px;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
top: 0;
z-index: 1000;
}


.logo {
font-size: 28px;
font-weight: bold;
color: #ff4c4c;
}


.nav-links {
list-style: none;
display: flex;
gap: 25px;
}


.nav-links li a {
color: white;
text-decoration: none;
font-size: 18px;
}


.nav-links li a:hover {
color: #ff4c4c;
transition: 0.3s;
}


/* HERO */
.hero {
text-align: center;
padding: 120px 20px;
background: url('https://via.placeholder.com/1500x700') center/cover;
background-blend-mode: multiply;
background-color: rgba(0, 0, 0, 0.6);
}


.hero h1 {
font-size: 50px;}