body {
    margin: 0;
    font-family: Arial;
    background: #3b1414;
    color: white;
}


.title {
    text-align: center;
    padding: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 360px;
    height: 390px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 22px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.card span {
    background: rgba(116, 111, 111, 0.6);
    padding: 10px 16px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.card:hover {
    transform: scale(1.05);
}

.food {background-image: url("images/food.jpg");}
.drinks {background-image: url("images/drinks.jpg");}
.desserts {background-image: url("images/desserts.jpg");}



.menu-page {
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back, .cart-btn {
    background: #d4a373;
    padding: 9px 15px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.menu-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 20px;
}

.item {
    background: white;
    color: black;
    border-radius: 15px;
    min-height: 40px;
    overflow: hidden;
    transition: 0.3s;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.item-content {
    padding: 10px;
}

.price { color: green; font-weight: bold; }

.item.active {
    border: 4px solid #d4a373;
    transform: scale(1.03);
}


.add-btn {
    margin-top: 8px;
    background: #3b1414;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}


.cart-item {
    background: white;
    color: black;
    margin: 10px 0;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item button {
    background: crimson;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
}
