body {
    margin: 0;
    font-family: Arial;
    background: #3b1414;
    color: white;
}

.title {
    font-size: 30px;
    color: #d4a373;
    margin: 40px 0 20px 0;
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.692);
    font-family: 'Cinzel Decorative', serif;
}


/* Cards Container */
.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

/* Card Wrapper */
.card {
    width: 360px;
    height: 390px;
    border-radius: 22px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    color: #d4a373;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45);
}

/* Background Image */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    filter: blur(0.5 px);        /* Soft blur */
    transition: 0.4s ease;      /* Smooth hover */
}

/* Text */
.card span {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.55);
    padding: 12px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;

    /* Glow Effect */
    text-shadow: 0 0 6px rgba(68, 5, 5, 0.733);
}

/* Hover Effects */
.card:hover {
    transform: scale(1.07);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
}

/* Make image more faded + move slightly up */
.card:hover img {

    transform: scale(1.05) translateY(-5px);
}



/* MENU PAGE */
.menu-page {
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back, .cart-btn {
    background: #d4a373;
    padding: 9px 15px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.menu-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 20px;
}

.item {
    background: white;
    color: black;
    border-radius: 15px;
    min-height: 40px;
    overflow: hidden;
    transition: 0.3s;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.item-content {
    padding: 10px;
}

.price { 
    color: green; 
    font-weight: bold; 
}

.item.active {
    border: 4px solid #d4a373;
    transform: scale(1.03);
}

.add-btn {
    margin-top: 8px;
    background: #3b1414;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}

/* CART ITEMS */
.cart-item {
    background: white;
    color: black;
    margin: 10px 0;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item button {
    background: crimson;
    border: none;
    color: white;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
}
